.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  max-width: 750px;
}

.content {
  width: 100%;
  max-width: 666px;
  margin-left: auto;
  margin-right: auto;
}

.dataEntry {
  padding: 10px;
  border: 3px solid green;
  border-radius: 3px;
  margin-bottom: 30px;
  width: calc(100% - 40px);
  margin-left: auto;
  margin-right: auto;
}

.totalCostCents {
  width: 100%;
  max-width: 300px;
  margin: 10px;
}

.smallDataEntry {
  width: calc(100% - 20px);
  max-width: 300px;
  margin: 10px;
}

.largeDataEntry {
  width: calc(100% - 20px);
  margin: 10px;
}

.stampValues {
  /* width: 530px; */
  margin-top: 20px;
}

.generateSolution {
  width: calc(100% - 20px);
  max-width: 300px;
  margin: 10px;
  height: 40px;
  border-radius: 3px;
  font-weight: 700;
  display: inline-block;
  background-color: green;
  &:hover {
    background-color: rgb(17, 155, 17);
  }
}

.whiteTextButton {
  color: white;
  text-align: center;
  line-height: 40px;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 13pt;

}

.postageSolution {
  background-color: rgb(92, 172, 92);
  border-radius: 10px;
  width: 400px;
  /* margin-right: auto; */
  /* margin: 20px; */
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.displayPostageSolution {
  /* display: flex;
  justify-content: space-around;
  gap: 20px;
  flex-wrap: wrap;
  padding-left: 25px; */
}

.stampContainer {
  background-color: #fff;
  background-image: radial-gradient(rgb(92, 172, 92), 50%, transparent 50%);
  background-position: -0.25rem -0.25rem;
  background-repeat: repeat;
  background-size: 0.5rem 0.5rem;
  height: 88px;
  width: 72px;
  display: inline-block;
  margin: 5px;
  /* margin-left: 10px;
  margin-right: 10px; */
}

.stamp {
  width: 63px;
  height: 78px;
  background-color: white;
  font-weight: 700;
  display: inline-block;
  margin-left: 5px;
  margin-top: 5px;
  line-height: 80px;
  text-align: center;
}
